.partners 
  .container 
    .partners-container 
      .partner.animate__flipInY.wow
        img.partner-img(src="assets/images/dest/partner-1.png")
      .partner.animate__flipInY.wow
        img.partner-img(src="assets/images/dest/partner-2.png")
      .partner.animate__flipInY.wow
        img.partner-img(src="assets/images/dest/partner-3.png")
      .partner.animate__flipInY.wow
        img.partner-img(src="assets/images/dest/partner-4.png")
        
      