.partners 
  .container 
    .partners-container 
      .partner
        img.partner-img(src="../assets/images/dest/partner-1.png")
      .partner
        img.partner-img(src="../assets/images/dest/partner-2.png")
      .partner
        img.partner-img(src="../assets/images/dest/partner-3.png")
      .partner
        img.partner-img(src="../assets/images/dest/partner-4.png")
      