.mobile 
  .container 
    .mobile-container 
      .mobile-img-container
        img.mobile-img(src="assets/images/dest/mobile.png")
      .mobile-info 
        h2.mobile-title Excellent for Mobile Devices.
        p.mobile-text Pellentesque massa placerat duis ultricies lacus sed turpis tincidunt. Et netus et malesuada fames ac turpis egestas. In massa tempor nec feugiat nisl pretium fusce. Morbi leo urna molestie at elementum eu facilisis sed. Quisque egestas diam in arcu cursus euismod quis viverra nibh. Commodo odio aenean sed adipiscing diam donec adipiscing tristique risus.
        .mobile-advantages
          ul.mobile__list
            li.mobile__item Nam liber tempor cum soluta nobis eleifend option;
            li.mobile__item Option congue nihil imperdiet doming id quod mazim placerat facer;
            li.mobile__item Eodem modo typi, qui nunc nobis videntur parum futurum;
            li.mobile__item Investigationes demonstraverunt lectores;