section.portfolio
  .container
    h2.portfolio__title Our Latest Projects.
    .portfolio__text 
      p Ultrices neque ornare aenean euismod elementum nisi quis eleifend quam. Neque vitae tempus quam pellentesque nec nam. Fermentum odio eu feugiat pretium nibh ipsum consequat nisl vel.
    .portfolio-container
      .tabs 
        +tab('All')
        +tab('Web Design')
        +tab('Mobile App')
        +tab('Illustration')
        +tab('Photography')
      .projects-container
        +project('Claritas Etiam Processus', 'Photography, Nature')
        +project('Quam Nutamus Farum', 'Graphic Design, Mock-Up')
        +project('Usus Legentis Videntur', 'Photography, Holiday')
        +project('Claritas Etiam Processus', 'Photography, Nature')
        +project('Quam Nutamus Farum', 'Graphic Design, Mock-Up')
        +project('Usus Legentis Videntur', 'Photography, Holiday')
    button.btn
          a.btn__link(href="#") load more

      
        
