.video-presentation 
  video#video.presentation(poster="assets/images/dest/tecladobackground.png")
    //- source(src="../video/video-2.mp4" type="video/mp4")
    source(src="assets/video/video.mp4" type="video/mp4")
  .presentation-wrap
    .video-control
      button#play.video-btn(type="button")
    h4.video-title Waxom Video Presentation
    p.video-text Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius, qui sequitur mutationem consuetudium.
    span.video-timer 03:26