section.homepage 
  header.header
    .container
      .header-container
        .logo
          a.logo__link(href='#')
            svg.logo__icon(width="64" height="56" version="1.1" viewBox="0 0 16.933 14.817" xmlns="http://www.w3.org/2000/svg")
              g(fill="#fff")
                path(transform="matrix(.19095 0 0 .19094 8.0848 -8.4287)" d="m2 46 6.9282 12h-13.856zm0 25.857 6.9282-12h-13.856zm8.3137-10.615 6.9282 12h-13.856zm-16.627 0 6.9282 12h-13.856zm16.627 25.855 6.9282-12h-13.856zm-16.627 0 6.9282-12h-13.856zm24.942-10.613 6.9282 12h-13.856zm-33.256 0 6.9282 12h-13.856zm33.256 25.858 6.9282-12h-13.856zm-33.256 0 6.9282-12h-13.856zm41.567-10.616 6.9282 12h-13.856zm-49.881 0 6.9282 12h-13.856zm49.881 25.856 6.9282-12h-13.856zm-16.626 0 6.9282-12h-13.856zm-33.255 0 6.9282-12h-13.856zm58.197-10.614 6.9282 12h-13.856zm-16.627 0 6.9282 12h-13.856zm-16.628 0 6.9282 12h-13.856zm-33.255 0 6.9282 12h-13.856z")
            h1.logo__title Waxom
        nav.homepage-menu
          menu.homepage-dropdown-menu
            button.homepage-dropdown-menu__btn menu
              i.fas.fa-caret-down
            .homepage-dropdown-menu__content
              ul.homepage-dropdown-menu__list 
                each name in ['Home', 'About Us', 'Portfolio', 'Features', 'Blog', 'Pricing', 'Shortcodes', 'Contact']
                  li.homepage-dropdown-menu__item 
                    a.homepage-dropdown-menu__link(href='#')=name
          ul.homepage-menu__list 
            each name in ['Home', 'About Us', 'Portfolio', 'Features', 'Blog', 'Pricing', 'Shortcodes', 'Contact']
              li.homepage-menu__item 
                a.homepage-menu__link(href='#')=name
          .homepage-icon
            a.homepage-icon__cart.icon(href='#')
            a.homepage-icon__search.icon(href='#')
  include ../slider/slider.pug