.wordpress
  .container 
    .wordpress-container 
      .wordpress__text-section 
        .wordpress__title.animate__backInLeft.wow Waxom
          span  Multipurpose WordPress Theme
        .wordpress__text.animate__backInRight.wow Don't forget to Rate the Template. Thanks sp much!
      .wordpress__link
        button.btn.btn-wordpress
          a.btn__link(href="#") purchase now