.wordpress
  .container 
    .wordpress-container 
      .wordpress__text-section 
        .wordpress__title Waxom
          span  Multipurpose WordPress Theme
        .wordpress__text Don't forget to Rate the Template. Thanks sp much!
      .wordpress__link
        button.btn.btn-wordpress
          a.btn__link(href="#") purchase now