.possibilities
  .container 
    .possibilities-container 
      +possibility('../images/dest/pencil-icon.png', 'Web & App Design', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
      +possibility('../images/dest/stack-icon.png', 'Development', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
      +possibility('../images/dest/gear-icon.png', 'Customization', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
      +possibility('../images/dest/folder-icon.png', 'Marketing', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
    .possibilities-demonstration 
      h2.demonstration__title Waxom is Realization of your Ideas.
      .demonstration__text 
        p Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .demonstration__screenshots
        .screenshot__left
        .screenshot__right
        .screenshot__center


