doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Waxom Project
    link(rel="stylesheet", href="assets/css/reset.css")
    link(rel="stylesheet", href="assets/css/main.min.css")
    link(rel="stylesheet", href="assets/css/google-fonts.css")
    link(rel="stylesheet", href="assets/css/animate.min.css")
  body.page
    include ../blocks/templates/templates.pug
    include ../blocks/mixins/mixins.pug
    include ../blocks/homepage/homepage.pug
    include ../blocks/possibilities/possibilities.pug
    include ../blocks/wordpress-link/wordpress-link.pug
    include ../blocks/portfolio/portfolio.pug
    include ../blocks/video-presentation/video-presentation.pug
    include ../blocks/mobile/mobile.pug
    include ../blocks/counters/counters.pug
    include ../blocks/recent-posts/recent-posts.pug
    include ../blocks/partners/partners.pug
    include ../blocks/footer/footer.pug
    script(src="assets/js/wow.min.js")
    script(src="assets/js/main.min.js")
    script(src="https://kit.fontawesome.com/36446de779.js" crossorigin="anonymous") 
