footer.footer 
  .social 
    .container
      .social-container
        .about-waxom 
          .logo
            a.logo__link(href='#')
              svg.logo__icon(width="64" height="56" version="1.1" viewBox="0 0 16.933 14.817" xmlns="http://www.w3.org/2000/svg")
                g(fill="#fff")
                  path(transform="matrix(.19095 0 0 .19094 8.0848 -8.4287)" d="m2 46 6.9282 12h-13.856zm0 25.857 6.9282-12h-13.856zm8.3137-10.615 6.9282 12h-13.856zm-16.627 0 6.9282 12h-13.856zm16.627 25.855 6.9282-12h-13.856zm-16.627 0 6.9282-12h-13.856zm24.942-10.613 6.9282 12h-13.856zm-33.256 0 6.9282 12h-13.856zm33.256 25.858 6.9282-12h-13.856zm-33.256 0 6.9282-12h-13.856zm41.567-10.616 6.9282 12h-13.856zm-49.881 0 6.9282 12h-13.856zm49.881 25.856 6.9282-12h-13.856zm-16.626 0 6.9282-12h-13.856zm-33.255 0 6.9282-12h-13.856zm58.197-10.614 6.9282 12h-13.856zm-16.627 0 6.9282 12h-13.856zm-16.628 0 6.9282 12h-13.856zm-33.255 0 6.9282 12h-13.856z")
              h1.logo__title Waxom
          p.about-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci suscipit lobortis claritatem.
          a.read-more__link(href="#") Read More
        .recent-posts-footer
          h4.recent-posts-footer__title Recent Posts
          .post
            time.post__date(datetime="2015-09-08") September 08, 2015
            p.post__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit
          .post 
            time.post__date(datetime="2015-09-08") September 08, 2015
            p.post__text Diam nonummy nibh euismod tincidunt ut laoreet dolore magna
          .post
            time.post__date(datetime="2015-09-08") September 08, 2015
            p.post__text Claritas est etiam processus dynamicus, qui sequitur mutationem per seacula quarta decima
        .our-twitter 
          h4.our-twitter__title Our Twitter
          .twitter-post 
            p.twitter-post__text 
              a.twitter-post__link(href="#") @waxom
              span  Cum soluta nobis eleifend option congue nihil imperdiet doming
            time.twitter-post__date 3 mins ago
          .twitter-post 
            p.twitter-post__text 
              span Mirum est 
              a.twitter-post__link(href="#") #envato
              span  notare quam littera gothica, quam nunc putamus parum anteposuerit litterarum
            time.twitter-post__date 5 hours ago
          .twitter-post 
            p.twitter-post__text 
              span  Soluta nobis option 
              a.twitter-post__link(href="#") bit.ly/1Hniso7
            time.twitter-post__date 20 days ago
        .dribbble-widjet
          h4.dribbble-widjet__title Dribbble Widjet
  .copyrights
    .container
      .copyright-container
        .copyright-links 
          a.copyright__link Copyright &copy; 2015 
            span.white-color Waxom
          a.copyright__link Privacy Policy
          a.copyright__link.faq faq
          a.copyright__link Support
        .author-links
          a.author__link(href="https://twitter.com") Designed by 
            span.white-color ThemeFire
          a.author__link(href="https://twitter.com") Only on 
            span.white-color Emvato Market
