.recent-posts 
  .container 
    .recent-posts-container 
      h2.recent-posts-title Recent Posts
      p.recent-posts-text Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
      .recent-posts-slider-container 
        .recent-posts-slide
          .recent-post__date
            .recent-post__day 30
            .recent-post__month Sep
          .recent-posts-slide__img-container
          .recent-posts-slide__info 
            .recent-posts-slide__title Lorem ipsum dolor sit amet
            .recent-posts-slide__text Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
            a.recent-posts-slide__link(href="#") Read More
        .recent-posts-slide
          .recent-post__date
            .recent-post__day 30
            .recent-post__month Sep
          .recent-posts-slide__img-container
          .recent-posts-slide__info 
            .recent-posts-slide__title Lorem ipsum dolor sit amet
            .recent-posts-slide__text Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
            a.recent-posts-slide__link(href="#") Read More
        .recent-posts-slide
          .recent-post__date
            .recent-post__day 30
            .recent-post__month Sep
          .recent-posts-slide__img-container
          .recent-posts-slide__info 
            .recent-posts-slide__title Lorem ipsum dolor sit amet
            .recent-posts-slide__text Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
            a.recent-posts-slide__link(href="#") Read More