.counters 
  .container 
    .counters-container 
      .counter 
        span.counter-count 3587
        span.counter-info satisfied clients
      .counter 
        span.counter-count 207
        span.counter-info cups of coffee
      .counter 
        span.counter-count 2500
        span.counter-info blog posts
      .counter 
        span.counter-count 873
        span.counter-info likes
      .counter 
        span.counter-count 900
        span.counter-info we launched